body{
    background-color: lightgrey;
    color: white;
    position: relative;
    overflow: hidden;

}
li{
    padding: 25px;
    display: flex;
}
.colonne{
    position: fixed;
    color: white;
    background-color: grey;
    border-radius: 20px;
    list-style-type: none;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    z-index: 2;
}
    .tiroir{
        position: absolute;
        color: black;
        font-size: 180%;
        opacity: 0;
        margin-top: -20px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.5s linear;

    }
    .anim{
        &:hover{
            background-color: white;
        }
        &:hover .tiroir{
            transform: translateX(84px);
            opacity: 1;
            background-color: white;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
    